* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div {
  display: flex;
  flex-flow: row wrap;
  gap: 2px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 1em;
  height: 100vh;
}

main {
  place-self: center;
  display: flex;
  flex-flow: column;
  gap: 1em;
  width: 100%;
  max-width: 1200px;
}

article,
footer {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

footer {
  flex-flow: column;
  gap: 0;
}

article div {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* border:1px solid red; */
}

article p,
span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

footer,
h2 {
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

h2 {
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 5px;
}
.m1 {
  /* background-color: #FF495C; */
  border: 1px solid #ff495c;
}
.m2 {
  /* background-color: #F9C22E; */
  border: 1px solid #f9c22e;
}
.m3 {
  background-color: #a6a2a2;
}
.m4 {
  background-color: #3ab795;
  border-radius: 0;
}
.m5 {
  background-color: #ffcf56;
  border-radius: 0;
}
